@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@1&family=Silkscreen&display=swap');

:root {
  --primary-color: #0F2C59;
  --secondary-color: #FFF4F4;
  --highlight-color: #F1C376;
  --transition-speed: 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar stays on top of all other elements */
}

footer {
  background: var(--primary-color);
  color: white;
  padding: 0.01rem;  /* 调整padding值为0.5rem将会使footer变得矮一些 */
  text-align: center;
}

body {
  font-family: 'Bitter', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  color: var(--primary-color);

}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}

.home-section {
  background-image: url('./background.jpg');
  background-size: cover;
  height: 100vh; /* 全屏高度 */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; /* 根据你的背景颜色调整文字颜色 */
}

.App {
  margin-top: 60px; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Silkscreen', cursive;
}

header {
  background: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
}





.mouse-cursor {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  visibility: hidden; 
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 70%);
}


/* 当鼠标点击时，增大其大小 */
.mouse-cursor.clicked {
  width: 70px;
  height: 70px;
}

.mouse-cursor.active {
  visibility: visible;
}

body.cursor-hidden {
  cursor: none;
}


